@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove Clerk tag */
.cl-internal-b3fm6y {
	display: none;
}

@layer components {
	/* <main> */
	.main-container {
		@apply flex min-h-screen flex-1 flex-col items-center bg-light-2 dark:bg-dark-2 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
	}
	/* <h1> */
	.heading-primary {
		@apply font-josefin-sans text-3xl text-dark-1 dark:text-light-1;
	}

	/* SHARED COMPONENTS */
	.topbar {
		@apply fixed top-0 z-30 flex w-full items-center justify-between bg-light-1 dark:bg-dark-1 px-6 py-3;
	}

	.leftsidebar {
		@apply sticky left-0 top-0 z-20 hidden md:flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-gray-2 dark:border-r-gray-1 bg-light-1 dark:bg-dark-1;
	}

	.bottombar {
		@apply fixed bottom-0 z-10 w-full rounded-t-3xl p-4 backdrop-blur-lg md:hidden bg-light-1 dark:bg-dark-1;
	}

	.bottombar__container {
		@apply flex items-center justify-between gap-3;
	}

	.leftsidebar__link {
		@apply relative flex justify-start gap-4 rounded-lg p-4;
	}

	.bottombar__link {
		@apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
	}

	.input_upload {
		@apply block w-full text-sm text-gray-900 border-none rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700  dark:placeholder-gray-400;
	}

	.form__label {
		@apply font-josefin-sans text-lg;
	}
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-container {
		@apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
	}

	.head-text {
		@apply text-heading2-bold text-light-1;
	}

	.activity-card {
		@apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
	}


	.no-result {
		@apply text-center !text-base-regular text-light-3;
	}


	.community-card {
		@apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
	}

	.community-card_btn {
		@apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
	}


	.thread-card_bar {
		@apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
	}

	.user-card {
		@apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
	}

	.user-card_avatar {
		@apply flex flex-1 items-start justify-start gap-3 xs:items-center;
	}

	.user-card_btn {
		@apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
	}

	.searchbar {
		@apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
	}

	.searchbar_input {
		@apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important;
	}

	.topbar {
		@apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
	}

	.bottombar {
		@apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
	}

	.bottombar_container {
		@apply flex items-center justify-between gap-3 xs:gap-5;
	}

	.bottombar_link {
		@apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
	}

	.leftsidebar {
		@apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
	}

	.leftsidebar_link {
		@apply relative flex justify-start gap-4 rounded-lg p-4;
	}

	.pagination {
		@apply mt-10 flex w-full items-center justify-center gap-5;
	}

	.rightsidebar {
		@apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
	}
}

@layer utilities {
	.css-invert {
		@apply invert-[50%] brightness-200;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #09090a;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #5c5c7b;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #7878a3;
	}
}

.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
	@apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
	.cl-organizationPreview
	.cl-organizationPreviewTextContainer {
	@apply max-sm:hidden;
}


.tab {
	@apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
	@apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}


.account-form_image-label {
	@apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
	@apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
	@apply border border-dark-4 bg-dark-3 text-light-1 !important;
}


.comment-form {
	@apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
	@apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
} */

/* {
	"name": "threds",
	"version": "0.1.0",
	"private": true,
	"scripts": {
	  "dev": "next dev",
	  "build": "next build",
	  "start": "next start",
	  "lint": "next lint"
	},
	"dependencies": {
	  "@clerk/nextjs": "^4.23.5",
	  "@clerk/themes": "^1.7.5",
	  "@hookform/resolvers": "^3.3.1",
	  "@radix-ui/react-label": "^2.0.2",
	  "@radix-ui/react-slot": "^1.0.2",
	  "@radix-ui/react-tabs": "^1.0.4",
	  "@types/node": "20.6.0",
	  "@types/react": "18.2.21",
	  "@types/react-dom": "18.2.7",
	  "@uploadthing/react": "^5.5.0",
	  "class-variance-authority": "^0.7.0",
	  "clsx": "^2.0.0",
	  "lucide-react": "^0.277.0",
	  "mongoose": "^7.5.1",
	  "next": "13.4.19",
	  "react": "18.2.0",
	  "react-dom": "18.2.0",
	  "react-hook-form": "^7.46.1",
	  "react-select": "^5.7.4",
	  "svix": "^1.12.0",
	  "tailwind-merge": "^1.14.0",
	  "tailwindcss-animate": "^1.0.7",
	  "typescript": "5.2.2",
	  "uploadthing": "^5.5.3",
	  "zod": "^3.22.2"
	},
	"devDependencies": {
	  "autoprefixer": "^10.4.15",
	  "postcss": "^8.4.29",
	  "tailwindcss": "^3.3.3"
	}
  }
   */
